div= user.bio.generalBio
ul 
    li
        b Awards/Experience:
        =' ' + user.bio.experience
    li
        b Olympiads/Competitions:
        = ' ' + user.bio.competitions
    li
        b Textbooks/Courses:
        = ' ' + user.bio.textbooks