extends _layout

block content
    p: h2 Editing #{username}'s password:

    form#form.needs-validation(novalidate)
        .col-12.mb-3
            label.form-label(for='old-password') Current Password:
            input#old-password.form-control(type='password' name='old-password' required='')
            .invalid-feedback
                | Enter your current password.
        .col-12.mb-3
            label.form-label(for='new-password') New Password:
            input#new-password.form-control(type='password' name='new-password' required='')
            .invalid-feedback
                | Enter your new password.
        .col-12.mb-3
            label.form-label(for='confirm-password') Confirm New Password:
            input#confirm-password.form-control(type='password' name='confirm-password' required='')
            .invalid-feedback
                | Make sure both fields have the same new password.
        button#submission.btn.btn-primary(type='submit') Submit

block scripts
    script(src='/edit-password.js')
