extends _layout

block content
    p: h2 Editing #{user.username}'s bio:
    if user.bio
        h4 Current bio:
        p= user.bio
    
    form#form
        label.form-label(for='bio'): h4 Enter your new bio here:
        textarea#bio.form-control(rows='5')
        button#submission.btn.btn-primary(type='submit') Submit

block scripts
    script(src='/edit-bio.js')