extends _layout

block content
    .text-center
        img.img-fluid(src='/logo.png' width='30%')
        h1.my-3 National Science Bowl Association
    .text-center
        p.lead Join the official discord
            | 
            a(href="https://discord.gg/wJReFxPSnR" target="_blank") here
            | !
    p
        | The 
        strong National Science Bowl Association
        |  (NSBA) is a league-style tournament inspired by the NBA starting 
        strong June 11th
        | . 60 players will register and 12 general managers will draft their team of 5 and compete in the regular season and the playoffs for cash prizes. There will be an all-star game, trades, home court advantage, awards and much more. This will truly be a competition 
        em like no other
        | . (Except for SBL and the NBA.)
    p
        strong Price
        |  - Each player and manager will have to pay $5 for registration. 
        strong 100%
        |  of the money will be going towards the prize pool as well as extra cash from the organizers bumping the expected prize pool of $400+. The winning team will win a minimum of 
        strong $280
        |  and runner up 
        strong $140
        | .
    p
        strong Format
        |  - This tournament is open for all age groups, and will include 11 regular season games. The top 6 will be guaranteed into the playoffs, while the next 4 teams will play for the remaining 2 spots. Teams in the playoffs will play best of 5 matches on half packets. This tournament will be nationals RR level for the
        |     regular season and jump to nationals DE for the playoffs. We recommend participants to be prepared for a relatively more difficult tournament.
    p
        strong Spectators
        |  - One of our goals is to create an exciting atmosphere for spectators to follow the competition. We will have a weekly pick&apos;em competition, the overall winner of which will receive $10. In addition, all matches will be filmed and released at the end of the round, and one highlighted match will be streamed.
