extends _layout

block content
    .text-center
        img.img-fluid(src='/logo.png' width='30%')
        p: h1 National Science Bowl Association
    form#login.needs-validation(novalidate='')
        .col-12.mb-3
            label.form-label(for='username') Username
            input#username.form-control(type='text' name='username' required='')
            .invalid-feedback
                | Enter your username.
        .col-12.mb-3
            label.form-label(for='password') Password
            input#password.form-control(type='password' name='password' required='')
            .invalid-feedback
                | Enter your password.
            #passwordHelp.form-text
                | Forgot your password? Please contact a system admin.
        button#submission.btn.btn-primary(type='submit') Log in
    p.mt-1.text-muted
        | Don&apos;t have an account?
        | Sign up 
        a(href='/signup/') here
        | .

block scripts
    script(src='/login.js')