extends _layout

block content
    p Note: Pick'em has been discontinued since Week 1.

    p.lead Before each round, spectators can choose who they think will win each match in pick'em.

    h4 Week 1: 
        a(href="https://forms.gle/DmCTmetfrAAuQvEH8") Link