extends _layout

block content
    .row.mb-3
        .col-12.col-md-4
            img.img-fluid(src='/logo.png')
            .text-center
                button.btn.btn-secondary.disabled Upload profile picture
        .col-12.col-md-8
            p: h1
                | Welcome,
                span= ' ' + user.username
            p
                strong Name:
                = ' ' + user.firstName + ' ' + user.lastName
            p
                strong Role:
                if role in user
                    = ' ' + user.role
                else
                    = ' N/A'
            p
                strong Team:
                if team in user
                    = ' ' + user.team
                else
                    = ' N/A'

    h2 My Team
    if team in user
        p Hey!
    else
        p Looks like you're not part of a team yet.
