extends _layout

block content
    .row.mb-3
        .col-12.col-md-5
            img.img-fluid(src='/logo.png')
            .text-center
                button.mt-1.btn.btn-secondary.disabled Upload profile picture
        .col-12.col-md-7
            p: h1
                | Welcome,
                span= ' ' + user.username + '!'
            p
                strong Name:
                = ' ' + user.firstName + ' ' + user.lastName
            
            p
                strong Grade: 
                = ' ' + user.grade
            p
                strong Email:
                = ' ' + user.email
            p
                strong Discord:
                = ' ' + user.discord
            p
                strong Role:
                if user.role
                    = ' ' + user.role
                else
                    = ' N/A'
            p
                strong Team: 
                if user.team
                    a(href='/my-team/')= user.team
                else
                    = 'N/A'
        
            a.btn.btn-primary.me-2(href=`/edit-profile/`) Edit profile
            a.btn.btn-primary.me-2(href=`/edit-password/`) Edit password
            button.btn.btn-primary(type='button' onclick='logout()') Logout

    h2 Bio 
    if user.bio
        include bio.pug
    else 
        p No bio set.
    
    p: a.btn.btn-primary.me-2(href=`/edit-bio/`) Edit bio

block scripts
    script(src='/logout.js')