extends _layout

block content
    .text-center.display-5.mb-3 NSBA Rules

    .card.mb-3
        .card-header
            | This card explains the differences between the NSBA and the National Science Bowl competiton rulesets.
        .card-body
            h5.card-title NSBA vs. NSB 
            p.card-text There are 3 major gameplay differences between the two formats: timeouts, substitutions, and home court.
            ol
                li
                    b Timeouts: 
                    | Each team has 
                    b.text-primary two 
                    | timeouts, which can be called before tossups or before a teams bonus. 
                    b.text-primary Only GMs are allowed to call timeouts.
                li
                    b Substitutions: 
                    | A team can make substitutions during a timeout or at the end of the first half. 
                    b.text-primary Only GMs are allowed to make substitutions.
                li
                    b Home Court: 
                    | Each match, one team is designated the "home" team, while the other is designated the "away" team. 
                    | Before the match starts, the "home" team is allowed to choose one of the six categories. 
                    | The staff will then 
                    b.text-primary remove the first tossup-bonus cycle in the packet 
                    | that is 
                    b.text-primary in the category that the home team picked. 
                    | You can read more about home court advantage 
                    a(href="#home-court") here
                    | .

    h1 Payment 
        small.text-muted 
    
    p.lead
        | All GMs and players will have to pay a $30 entry fee. 
        | We will refund the majority of this back to you depending on your participation in the league.
    
    ul
        li
            b Players: 
            | For each game in which you are scheduled to play, if you show up you will be refunded $2 in the regular season. This adds up to $24 if you attend all games. If you are unable to play, you must alert your team before your GM submits their roster for the game, if you are listed to play and you don’t show up, you will not be refunded your $2.
        li
            b Subs: 
            | Subs will be automatically refunded $2 regardless of whether or not they show up. If a player is unable to make a game, they can be moved to a sub when rosters are submitted.
        li
            b Free Agents: 
            | Free agents will be automatically refunded $2 if they are not rostered for that given week.
        li
            b GMs: 
            | GMs will get a $2 refund for every game in which they submit a roster before their scheduled game begins. If a roster is not submitted, both the sub and the GM will not be refunded. (Unless the sub lets us know they have an incompetent GM)
        li
            b Combine: 
            | For players that do the combine, they will get an additional $1 refund.
        li
            b Draft: 
            | For GMs that attend the draft, they will get an additional $1 refund.
    
    p If 2 people need to miss the game, then the team will need to decide who gets the refund.

    h2 League Format
    p This tournament will be 12 rounds of the regular season. The top 6 teams at the end of the regular season will be qualified for the playoffs, while teams 7-10 will play an additional match to determine the final 2 spots for playoffs. 

    h3 Games
    p Games will be played on a packet of 23 tossups and 23 bonuses written by the NSBA staff.

    ul
        li 
            b.text-primary GMs are not required to attend games, 
            | but it is highly recommended that they do so.
        li GMs are the only people allowed to call timeouts and make substitutions.
        li Each team will have 2 timeouts which can be called before tossups or before a teams bonus.
        li A team can make substitutions during a timeout or at the end of the half. 
    
    h4 Scheduling

    ul
        li Before the match, GMs need to 
            b.text-primary submit their starting roster, 
            | including who will be the team's captain that game.
        li Please remember to schedule your matches ASAP so admins can know when they need to mod. 
            ul 
                li Remember, you only need 4 players to attend a match.
                li The rest can be subs. Subs can be subbed into a match during the game, so it's recommended that subs and GMs show up to games if possible.

    h3 Playoffs
    p Playoffs will be an 8 team single elimination tournament. However, matches will be played best of 5 with half packets (12 TU, 2 of each category). The finals will be a best of 7, the entirety of the playoffs will be in a span of the day.

    h3#home-court Home Court
    p Each match, one team is designated the "home" team, while the other is designated the "away" team. 
        | The "home" team has home court advantage and will be allowed to remove one cycle from that match.
        | Before the match starts, the "home" team is allowed to choose one of the six categories&mdash;biology, chemistry, ess, energy, math, and physics.
        | The staff will then remove the first tossup-bonus cycle in the packet that is in the category that the home team picked. 
        | The away team will not know the category that the home team picked until 
        b.text-primary when the game starts, after the starting lineups have been set.

    p
        b Playoffs: 
        | The higher seeded team in a playoff matchup will have home court advantage for game 1, after which they will alternate until the matchup is over. 
        | That is, for each half packet, one tossup-bonus cycle is removed by the "home" team.
        | Because there are 12 questions instead of 23, this will be more important in the outcome of the game.

    h3 Team
    ul
        li
            b Team Requirements: 
            | A team will be allowed to have a minimum of 4 players and a maximum of 6 players. Teams will be allowed to play with fewer than 4 people. However, one person on the team will not be getting the refund. If a team is missing a rostered player, but the sub is available, the player missing will not receive their refund, and the sub will be allowed to play.

    h4 Trades
    p GMs will be allowed to trade players for other players throughout the span of the season until the 8th week mark.
        | Multiple teams can be involved in a trade if needed. 
        | However, teams can not exceed 6 players or have less than 4 players unless they drop a player to the free agents or pick up a free agent.
    ul
        li
            b Trade Request: 
            | If a player is not happy with their team, they will be allowed to request a trade. If a GM does not trade them after 2 games of the player requesting a trade, they will be allowed to force themselves into free agency before the trade deadline. However, this must be because of a disagreement within the team, rather than wanting to join another team.
        li
            b Trade Deadline: 
            | After the 8th round, teams will be finalized, there will be no more trades, trade requests, or free agency pickups/drops. 

    h3 Draft
    p The draft will be a 
        strong.text-primary snake draft, 
        | meaning the person who picks first in the first round, will also pick last in the second round. GMs will make picks via the NSBA website. If a GM is not available to pick on draft day, then if they let staff know ahead of time, and submit a list of 1-8 people, we will pick them based on the players availability in the draft. Otherwise, the GM will be forced to autodraft.

    ul
        li
            b Autodraft: 
            | In order to incentivize GMs in showing up to the draft, autodraft will 
            strong.text-primary automatically pick the player with the worst combine results.

    p Draft picks are allowed to be traded. However, you will not be allowed to have more than 6 draft picks or less than 4 draft picks.

    h3 Combine
    p All players will be required to participate in the combine. The combine will consist of 4 questions from all categories except for energy. There will be multiple buzz points, and you will get points based on where you buzz.

    ul
        li 
            b Scoring: 
            | +4 for correct response within superpower, +3 for correct response within power, +2 for correct response, and -1 for incorrect multiple choice response.

    p Staff will try to record all combines for GMs to view. However, there’s a high chance some will be forgotten, sorry. 

    h3 Prize Fund
    
    ul
        li
            b Tournament: 
            | Prize fund will be $420, the winning team will receive $280 split amongst its players and GM, and the runner up team will receive $140 split amongst its players and GM. Only the players who are on the team after the trade deadline will receive the money. 
        li
            b Spectators: 
            | There will also be an additional $10 for whoever has the highest pick em results at the end of the regular season.

    h3 Spectators
    p All matches will be recorded and released at the end of the week. In addition, we will have several spectator based events for people to enjoy.

    h3 All-Star
    p (To be decided)

    h3 Cheating/Punishment
    p Players who are caught cheating or leaking questions will be kicked out of the league and they will not get any refund.  They will also not be allowed to attend the league in the future unless we have a change of heart.