extends _layout

block content
    include _logo.pug

    h3 Staff Members:
    ul
        li <a href="/staff/xpoes">David Jiang<a>: President
        li <a href="/staff/thedoge">Geoffrey Wu</a>: Webmaster
        li <a href="/staff/jasmine">Coby Tran</a>: Writer
        li <a href="/staff/ct610">Dan Ni</a>: Impostor
    p In addition, all staff members are also writers.
    p
        | NSBA2 is run by a group of college students from across North America who have each gone through 4+ years of Science Bowl.
        | The team includes several national olympiad campers and nationals qualifiers.
        | The team has plenty of tournament organizing experience and writing experience.
        | We guarantee a great tournament experience for all participants and spectators.
