extends _layout

block content
    .text-center
        img.img-fluid(src='/logo.png' width='30%')
        p
        h1 National Science Bowl Association
        p
    p
        b
            | Staff:
            ul
                li David Jiang - (Commissioner/Writer)
                li Sanjay Suresh - (President of Operations/Writer)
                li Bill Zhao - (Managing Director/Writer)
                li Geoffrey Wu - (Chief Technology Officer/Writer)
                li Rohan Shelke - (Chief Security Officer/Writer)
    p
        | NSBA is run by a group of college students from across North America who have each gone through 4+ years of Science Bowl.
        | The team includes several national olympiad campers and nationals qualifiers.
        | The team has plenty of tournament organizing experience and writing experience.
        | Guaranteeing a great tournament experience for all participants and spectators.
