extends _layout

block content
    include _logo.pug

    h3 Staff Members:
    ul
        li 
            b David Jiang: 
            | Commissioner
        li 
            b Sanjay Suresh: 
            | President of Operations
        li 
            b Bill Zhao: 
            | Managing Director
        li 
            b Geoffrey Wu: 
            | Chief Technology Officer
        li 
            b Rohan Shelke: 
            | Chief Security Officer
    p In addition, all staff members are also writers.
    p
        | NSBA is run by a group of college students from across North America who have each gone through 4+ years of Science Bowl.
        | The team includes several national olympiad campers and nationals qualifiers.
        | The team has plenty of tournament organizing experience and writing experience.
        | We guarantee a great tournament experience for all participants and spectators.
