extends _layout

block content
    p: h3 #{role} Info - #{user.username}
    p
        strong Name:
        = ' ' + user.firstName + ' ' + user.lastName
    p
        strong Grade:
        = ' ' + user.grade
    p
        strong Discord:
        = ' ' + user.discord
    p
        strong Team: 
        if user.team
            a(href=`/teams/${encodeURI(user.team)}`)= user.team
        else
            = ' N/A'
    p
        if user.role === 'Player'
            strong Draft Pick: 
            = (user.draftPick ? '#' + user.draftPick : 'N/A')

    h4 Bio:
    if user.bio
        include bio.pug
    else
        p N/A
    h4 Stats:
    p There are no stats to display.
    h4 Transaction History:
    p There is no transaction history to display.
