extends _layout

block content
    include _logo

    hr 

    p.lead View recordings of previous matches here.

    h5 Round 7:
    ul 
        li: a(href="https://www.youtube.com/watch?v=oPJG3ad42oM") doge disciples vs. kabir's kaolinites
        li: a(href="https://www.youtube.com/watch?v=UG2PTLtaCWI0") ct610 vs. Mount Ellis
        li: a(href="https://www.youtube.com/watch?v=B9I9Ve8D9i0") con1596 vs. sheep b
        li: a(href="https://www.youtube.com/watch?v=2sBWDFNzqsY") devansh vs. Okeh City Okeh'ios
        li Sample Text vs. Bellevue Bisphosphoglycerates
        li: a(href="https://www.youtube.com/watch?v=Kxyopz2ix9M") aastha vs. NEAREST AIRPORT

    h5 Round 6:
    ul 
        li: a(href="https://www.youtube.com/watch?v=XPHDU4b_Owk") NEAREST AIRPORT vs. Sample Text
        li: a(href="https://www.youtube.com/watch?v=KWivVfB87fs") Bellevue Bisphosphoglycerates vs. devansh
        li: a(href="https://www.youtube.com/watch?v=Q2Leh1jXwVI") Okeh City Okeh'ios vs. con1596
        li sheep b vs. ct610
        li: a(href="https://www.youtube.com/watch?v=sCxvCJB5TRE") Mount Ellis vs. kabir's kaolinites
        li: a(href="https://www.youtube.com/watch?v=J1U4Hwsi5bI") aastha vs. doge disciples

    h5 Round 5:
    ul
        li: a(href="https://www.youtube.com/watch?v=ZhoV9s6MrBo") kabir's kaolinites vs. Bellevue Bisphosphoglycerates
        li: a(href="https://www.youtube.com/watch?v=Gm0Z8VRscR0") ct610 vs. NEAREST AIRPORT
        li: a(href="https://www.youtube.com/watch?v=nIFFoN3UlAM") con1596 vs. aastha
        li: a(href="https://www.youtube.com/watch?v=R8tWFL1AU1M") devansh vs. Sample Text
        li: a(href="https://www.youtube.com/watch?v=-6WBSfER2GU") doge disciples vs. sheep b
        li: a(href="https://www.youtube.com/watch?v=xps5S7mSc00") Mount Ellis vs. Okeh City Okeh'ios
    h5 Round 4:
    ul 
        li: a(href="https://www.youtube.com/watch?v=hGRam7yU8-8") NEAREST AIRPORT vs. kabir's kaolinites
        li: a(href="https://www.youtube.com/watch?v=5iS10a9zQ9k") Bellevue Bisphosphoglycerates vs. Mount Ellis
        li Okeh City Okeh'ios vs. sheep b <a href="https://www.youtube.com/watch?v=Btbugrhschw">Part 1</a> <a href="https://www.youtube.com/watch?v=Z-oH-rweo5g">Part 2</a>
        li: a(href="https://www.youtube.com/watch?v=qwFth0c2O28") devansh vs. doge disciples
        li Sample Text vs. con1596
        li: a(href="https://www.youtube.com/watch?v=mJXWqZNhHwc") aastha vs. ct610
    h5 Round 3:
    ul 
        li: a(href="https://www.youtube.com/watch?v=4Ay_UEXXyKg") kabir's kaolinites vs. devansh
        li: a(href="https://www.youtube.com/watch?v=qApjim0ADhw") ct610 vs. con1596
        li: a(href="https://www.youtube.com/watch?v=Y6jY43JpfN8") doge disciples vs. Bellevue Bisphosphoglycerates
        li: a(href="https://www.youtube.com/watch?v=XBwShSOPeH4") Okeh City Okeh'ios vs. NEAREST AIRPORT
        li: a(href="https://www.youtube.com/watch?v=hZQdVDRc-Ug") sheep b vs. aastha
        li: a(href="https://www.youtube.com/watch?v=mSciSfZQmuo") Mount Ellis vs. Sample Text
    h5 Round 2:
    ul 
        li NEAREST AIRPORT vs. Bellevue Bisphosphoglycerates
        li: a(href="https://www.youtube.com/watch?v=zQ1NCAQNXsA") ct610 vs. doge disciples
        li: a(href="https://www.youtube.com/watch?v=L54LJ48LI54") con1596 vs. kabir's kaolinites
        li: a(href="https://www.youtube.com/watch?v=KsFIvkc0UKE") devansh vs. Mount Ellis
        li: a(href="https://www.youtube.com/watch?v=PG1B47M-ZJ0") Sample Text vs. sheep b
        li: a(href="https://www.youtube.com/watch?v=xZ3f6cYMoYw") aastha vs. Okeh City Okeh'ios
    h5 Round 1:
    ul
        li: a(href="https://www.youtube.com/watch?v=ne22Z4u0z8U") doge disciples vs. NEAREST AIRPORT
        li Bellevue Bisphosphoglycerates vs. aastha
        li: a(href="https://www.youtube.com/watch?v=Hj7e3SmjrBU") sheep b vs. devansh
        li: a(href="https://www.youtube.com/watch?v=7V2sxvkgr4Y") Mount Ellis vs. con1596
        li: a(href="https://www.youtube.com/watch?v=Dr0TMJThSLE") Okeh City Okeh'ios vs. Sample Text
        li: a(href="https://www.youtube.com/watch?v=Llv9yADVLGU") kabir's kaolinites vs. ct610

    h5 Combine:
    a(href="https://drive.google.com/drive/folders/1Bzwma-K6p5pJzeigTDNFPlekPf0DC8Q8?usp=sharing") Folder to Combine Recordings