extends _layout

block content
    include _logo

    hr 

    p.lead View recordings of previous matches here.

    p Note: The staff are currently in the process of uploading the VODs to Youtube. 
        | This will also allow us produce higher-quality recordings in the future.
    
    h5 Week 1:
    ul
        li 
            | NEAREST AIRPORT vs. doge disciples: 
            a(href="https://drive.google.com/file/d/109Z1jAo82R4ABkU9szxHZ1RVf-cJy5o5/view?usp=sharing") link
        li 
            | aastha vs. Bellevue Bisphosphoglycerates: 
        li 
            | devansh vs. sheep b: 
            a(href="https://drive.google.com/file/d/1ZhycsO8WCxXbNfQXRE1sVROc5Vc76PSU/view?usp=sharing") link
        li 
            | con1596 vs. Mount Ellis: 
            a(href="https://drive.google.com/file/d/1h8enWGpCHvxFEAUsWff5W4iWB0xi-9Eg/view?usp=sharing") link
        li 
            | Sample Text vs. OkehiosTM Whole Grain Cereals: 
            a(href="https://drive.google.com/file/d/1ut4wWA3cUTyrF9T3bA03O6XeKGDodrhO/view?usp=sharing") link
        li 
            | ct610 vs. kabir's kaolinites: 
            a(href="https://drive.google.com/file/d/1yyaEAAT2b1akzz0aonrphJGU4lKkD8nk/view?usp=sharing") link
            

    h5 Combine:
    a(href="https://drive.google.com/drive/folders/1Bzwma-K6p5pJzeigTDNFPlekPf0DC8Q8?usp=sharing") Folder to Combine Recordings