extends _layout

block content
    include _logo

    hr 

    p.lead View recordings of previous matches here.

    h5 Round 5:
    ul
        li: a(href="https://www.youtube.com/watch?v=ZhoV9s6MrBo") Bellevue Bisphosphoglycerates vs. kabir's kaolinites
        li: a(href="https://www.youtube.com/watch?v=Gm0Z8VRscR0") NEAREST AIRPORT vs. ct610
        li: a(href="https://www.youtube.com/watch?v=nIFFoN3UlAM") aastha vs. con1596
        li Sample Text vs. devansh
        li sheep b vs. doge disciples
        li: a(href="https://www.youtube.com/watch?v=xps5S7mSc00") Okeh City Okeh'ios vs. Mount Ellis
    h5 Round 4:
    ul 
        li: a(href="https://www.youtube.com/watch?v=hGRam7yU8-8") kabir's kaolinites vs. NEAREST AIRPORT
        li Mount Ellis vs. Bellevue Bisphosphoglycerates
        li sheep b vs. Okeh City Okeh'ios
        li doge disciples vs. devansh
        li con1596 vs. Sample Text
        li: a(href="https://www.youtube.com/watch?v=mJXWqZNhHwc") ct610 vs. aastha
    h5 Round 3:
    ul 
        li: a(href="https://www.youtube.com/watch?v=4Ay_UEXXyKg") devansh vs. kabir's kaolinites
        li: a(href="https://www.youtube.com/watch?v=qApjim0ADhw") con1596 vs. ct610
        li: a(href="https://www.youtube.com/watch?v=Y6jY43JpfN8") Bellevue Bisphosphoglycerates vs. doge disciples
        li: a(href="https://www.youtube.com/watch?v=XBwShSOPeH4") NEAREST AIRPORT vs. Okeh City Okeh'ios
        li: a(href="https://www.youtube.com/watch?v=hZQdVDRc-Ug") aastha vs. sheep b
        li: a(href="https://www.youtube.com/watch?v=mSciSfZQmuo") Sample Text vs. Mount Ellis
    h5 Round 2:
    ul 
        li Bellevue Bisphosphoglycerates vs. NEAREST AIRPORT
        li: a(href="https://www.youtube.com/watch?v=zQ1NCAQNXsA") doge disciples vs. ct610
        li: a(href="https://www.youtube.com/watch?v=L54LJ48LI54") kabir's kaolinites vs. con1596
        li: a(href="https://www.youtube.com/watch?v=KsFIvkc0UKE") Mount Ellis vs. devansh
        li: a(href="https://www.youtube.com/watch?v=PG1B47M-ZJ0") sheep b vs. Sample Text
        li: a(href="https://www.youtube.com/watch?v=xZ3f6cYMoYw") Okeh City Okeh'ios vs. aastha (audio only)
    h5 Round 1:
    ul
        li: a(href="https://www.youtube.com/watch?v=ne22Z4u0z8U") NEAREST AIRPORT vs. doge disciples
        li aastha vs. Bellevue Bisphosphoglycerates
        li: a(href="https://www.youtube.com/watch?v=Hj7e3SmjrBU") devansh vs. sheep b
        li: a(href="https://www.youtube.com/watch?v=7V2sxvkgr4Y") con1596 vs. Mount Ellis
        li: a(href="https://www.youtube.com/watch?v=Dr0TMJThSLE") Sample Text vs. OkehiosTM Whole Grain Cereals
        li: a(href="https://www.youtube.com/watch?v=Llv9yADVLGU") ct610 vs. kabir's kaolinites


    h5 Combine:
    a(href="https://drive.google.com/drive/folders/1Bzwma-K6p5pJzeigTDNFPlekPf0DC8Q8?usp=sharing") Folder to Combine Recordings