extends _layout

block content
    include _logo

    hr 

    p.lead View recordings of previous matches here.

    p <b>Note:</b> The staff are currently in the process of uploading the VODs to Youtube. 
        | This will also allow us produce higher-quality recordings in the future.
    
    h5 Week 2:
    ul 
        li Bellevue Bisphosphoglycerates vs. NEAREST AIRPORT: 
        li doge disciples vs. ct610: 
            a(href="https://drive.google.com/file/d/1cRObjFHock_INO4vQu-VZEro3wiN6k_5/view?usp=sharing") link
        li kabir's kaolinites vs. con1596: 
            a(href="https://drive.google.com/file/d/1mtzAtKsdafT_y_Kb7qRi2rXHRxYg3Pyq/view?usp=sharing") link
        li Mount Ellis vs. devansh: 
        li sheep b vs. Sample Text: 
            a(href="https://drive.google.com/file/d/1XZnpgLOl1CLdH7kUTT60Mj_nXguAVoT6/view?usp=sharing") link
        li Okeh City Okeh'ios vs. aastha: 
    h5 Week 1:
    ul
        li NEAREST AIRPORT vs. doge disciples: 
            a(href="https://www.youtube.com/watch?v=ne22Z4u0z8U") link
        li aastha vs. Bellevue Bisphosphoglycerates: 
        li devansh vs. sheep b: 
            a(href="https://www.youtube.com/watch?v=Hj7e3SmjrBU") link
        li con1596 vs. Mount Ellis: 
            a(href="https://www.youtube.com/watch?v=7V2sxvkgr4Y") link
        li Sample Text vs. OkehiosTM Whole Grain Cereals: 
            a(href="https://www.youtube.com/watch?v=Dr0TMJThSLE") link
        li ct610 vs. kabir's kaolinites: 
            a(href="https://www.youtube.com/watch?v=Llv9yADVLGU") link
            

    h5 Combine:
    a(href="https://drive.google.com/drive/folders/1Bzwma-K6p5pJzeigTDNFPlekPf0DC8Q8?usp=sharing") Folder to Combine Recordings