extends ../_layout

block content
    p The bracket can be found here: <a href="https://challonge.com/pzfimhc0">https://challonge.com/pzfimhc0</a>

    h4 Play-In:

    ul
        li [8] okehios vs. [9] con1596
            ul
                li <code>con1596 140 - 60 okehios</code>
        li [7] aastha vs. [10] doge disciples
            ul
                li <code>doge disciples 66 - 106 aastha</code>

    h4 Round 1:

    ul 
        li [1] mount ellis vs. [9] con1596
            ul
                li <code>Game 1: con1596 14 - 34 mount ellis</code>
                li <code>Game 2: con1596 42 - 28 mount ellis</code>
                li <code>Game 3: con1596 50 - 32 mount ellis</code>
        li [4] devansh vs. [5] sheep b 
            ul
                li <code>Game 1: sheep b &nbsp;8 - 64  devansh</code>
                li <code>Game 2: sheep b  50 - 30  devansh</code>
                li <code>Game 3: sheep b  65 - 28  devansh</code>
        li [2] sample test vs. [7] aastha
            ul 
                li <code>Game 1: aastha 14 - 16 sample text</code>
                li <code>Game 2: aastha 46 - 26 sample text</code>
                li <code>Game 3: aastha 42 - 36 sample text</code>
        li [3] kabir's kaolinites vs. [6] Bellevue Bisphosphoglycerates
            ul
                li <code>Game 1: kabir's kaolinites 58 - &nbsp;8 Bellevue Bisphosphoglycerates</code>
                li <code>Game 2: kabir's kaolinites 38 - 36 Bellevue Bisphosphoglycerates</code>

    h4 Round 2:

    ul 
        li [9] con1596 vs. [5] sheep b
            ul
                li <code>Game 1: con1596 14 - 34 mount ellis</code>
                li <code>Game 2: con1596 42 - 28 mount ellis</code>
                li <code>Game 3: con1596 50 - 32 mount ellis</code>
        li [7] aastha vs. [3] kabir's kaolinites
            ul
                li <code>Game 1: aastha 26 - 8 kabir's kaolinites</code>
                li <code>Game 2: aastha 18 - 4 kabir's kaolinites</code>

    h4 Finals:

    ul
        li [9] con1596 vs. [7] aastha
            ul
                li <code>Game 1: con1596 22 - &nbsp;6 aastha</code>
                li <code>Game 2: con1596 14 -      30 aastha</code>
                li <code>Game 3: con1596 12 -      14 aastha</code>