extends ../_layout

block content
    include ../_logo

    hr 

    p.lead View recordings of playoff matches here.

    h5 Playoffs 1:
    ul 
        li 

    h5 Playoffs 2:
    ul 
        li 

    h5 Finals:
    ul 
        li 